
.fullView{
    display: inline-block;
    width: 100%;
}

.largeView{
    display: inline-block;
    width: 75%;
}

.sidebar{
    display: inline-block;
    width: 24%;
    /*position: relative;*/
}

.links {
    stroke: rgba(0, 0, 0, 0.38);
    stroke-opacity: 0.135;
    stroke-width: 2px;
}

.d3-tip {
    line-height: normal;
    padding-left: 10px;
    padding-right: 10px;
    min-width: 100px;
    border-style: groove;
    padding: 12px;
    background: #FFFFFF;
    color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    pointer-events: none;
}

.searchResults{
    list-style: none;
    margin: 0;
    padding: 0;
    position: fixed;
    background-color: white;
    width: 543px;
    border-width: 1px;
    border-style: solid;
    border-color: transparent #cbcfe2 #c8cee7 #c4c7d7;
    z-index: 500;
}

#ulsearch {
    margin-left: 10px;
}

.searchHighlight {
    color: #fff;
    background-color: #338cdf;
}

.citedBars .bar {
    fill: #004445;
    opacity: 1;
}

.citingBars .bar {
    fill: #2C7873;
    opacity: 1;
}

.citedHead {
    text-anchor: middle;
    font-size: 1.5em;
    fill: #004445;
}

.citingHead {
    text-anchor: middle;
    font-size: 1.5em;
    fill: #2C7873;
}

.bartext {
    font-size: 0.75em;
}

.barAxis {
    stroke: black;
    stroke-width: 1px;
    /*font-family: serif;*/
    font-size: 0.75em;
}

#lineAxis {
    stroke: black;
    stroke-width: 1px;
    foot-size: 0.5em;
}

.infoList{
    list-style: none;
    margin: 0;
    padding: 0;
}

#hlightCited {
    fill: #6FB98F;
}

#hlightCiting {
    fill: #6FB98F;
}

#hlightLink {
    stroke: rgb(0, 0, 0);
    stroke-opacity: 0.9;
    stroke-width: 3px;
}

#selectedCited {
    fill: #E38533;
}

#selectedCiting {
    fill: #FAAE3D;
}

#selectedBarText {
    font-weight: bold;
    /*font-size: 1em;*/
}

#hlightBarText {
    font-weight: bold;
}

#infoBox {
    position: absolute;
    top: 200px;
    right: 10px;
    border:1px solid black;
    padding-top: 15px;
    padding-right: 30px;
    padding-bottom: 15px;
    padding-left: 30px;
    width: 475px;
    background-color: white;
}

#horizontalBars {
    position: relative;
    top: 125px;
    right: 150px;
}

#FDNCenter {
    fill: #ec7f3e;
}

.selectedNode{
    fill: #6FB98F;
    stroke: #333333;
    stroke-width: 2px;
}

.instruct {
    fill: #d3d3d3;
}

.city_hover {
  stroke: #000;
  stroke-opacity: 1;
}

.info {
    margin-left: 10px;
}

h1 {
    margin-left: 10px;
}

path {
  fill: none;
  stroke: #000;
  stroke-width: 1.5px;
  stroke-opacity: 0.15;
}

#uinput {
    margin-left: 10px;
}

/* slider styling from HW 4 solution*/

.slider {
    -webkit-appearance: none;
    width: 725px;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-left: 20px
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #D4E157;
    cursor: pointer;
}

.slider:hover {
    opacity: 1;
}

.slider-label svg {
    width: 750px;
    height: 35px;
}

.slider-label svg text {
    text-anchor: middle;
}

.slider-wrap {
    display: inline-block;
    float: left;
    width: 750px;
    margin-left: 50px;
}

#FilteredData {
    fill: #43a2ca;
    opacity: 0.5;
}
