/*.fullView{*/
    /*display: inline-block;*/
    /*width: 100%;*/
/*}*/

/*.sub_content {*/
    /*display: inline-block;*/
    /*width: 40%;*/
    /*position: relative;*/
    /*padding-right: 2%*/
/*}*/

/*.sideBar {*/
    /*display: inline-block;*/
    /*width: 15%;*/
    /*float:right;*/
/*}*/

/*.tile_view{*/
    /*display: inline-block;*/
    /*width: 80%;*/
    /*position: relative;*/
/*}*/

.fullView{
    display: inline-block;
    width: 100%;
}

.largeView{
    display: inline-block;
    width: 70%;
}

.sidebar{
    display: inline-block;
    width: 29%;
    position: relative;
}

.links {
    stroke: darkred;
    stroke-opacity: 0.075;
    stroke-width: 2px;
}

.searchResults{
    list-style: none;
    margin: 0;
    padding: 0;
}

.searchHighlight {
    color: #fff;
    background-color: #338cdf;
}

.citedBars .bar {
    fill: #004445;
    opacity: 1;
}

.citingBars .bar {
    fill: #2C7873;
    opacity: 1;
}

.bartext {
    font-size: 0.75em;
}

#hlightCited {
    fill: #6FB98F;
}

#hlightCiting {
    fill: #6FB98F;
}

#selectedCited {
    fill: #E38533;
}

#selectedCiting {
    fill: #FAAE3D;
}

#selectedBarText {
    font-weight: bold;
    font-size: 1em;
}

#hlightBarText {
    font-weight: bold;
}

}